section(class="canvas front" id="front")

    div(class="content")

        h2 Plone 6

        div

            p The first CMS that combines the power features, best-in-class security, and scalability of an enterprise CMS with a modern, easy-to-use and powerful frontend that uses the latest state-of-the art web technologies

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1({ target: "section-1", direction: "next" })
